@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Great+Vibes&display=swap');

@import "tailwindcss";

@theme {
    --font-title: "Great Vibes", sans-serif;
    --font-body: "Englebert", sans-serif;
    
}

@theme {
   --animate-slide-fwd-center: Animação up de pagina;
   
   @keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}


}